$primary: #754846;
$light: #fefefe;
$dark: #242323;
$transition: all 0.4s ease;
$btn-hover: rgba(117, 72, 70, 0.8);
$dark-text-hover: #212529;
.footer-socials-style {
  font-size: 18px;
  color: #f4f6f5;
  width: 38px;
  height: 38px;
  background-color: #000;
  border-radius: 15px;
}
.md-h5-styles {
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
