/* register */
.btn-disabled {
    cursor: not-allowed !important;
    outline: 0;
  }

  @media (min-width:992px) {
    /* Register */
    .justify-content-md-center {
        justify-content: center !important;
      }
      .btn {
        border: none;
        &:hover {
          background-color: $btn-hover !important;
          transition: $transition;
        }
      }
      /* Register */
  }